<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hourCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hourCheckNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE19CC061E5DED4C00EAFEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE19CC1A1E5DED4C00EAFEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE19CC251E5DED4C00EAFEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4BE34A1E60759D0086FD5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
